erp-notion/workflows/workflow_trello_notion_trigger_nativo.json
{
    "name": "Trello → Notion (Trigger Nativo)",
    "nodes": [
        {
            "parameters": {
                "event": "cardCreated",
                "id": "612f6ea39c967b8bef5c2186"
            },
            "id": "trello-trigger",
            "name": "Trello Trigger",
            "type": "n8n-nodes-base.trelloTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "credentials": {
                "trelloApi": {
                    "id": "CONFIGURAR_EN_N8N",
                    "name": "Trello API"
                }
            }
        },
        {
            "parameters": {
                "url": "=https://api.trello.com/1/cards/{{ $json.card.id }}?key=f529e10ec3bac9427b5c1abcfa2ec821&token=ATTA4a2d8d0148cae05d395044b7779d80db44ae465d82aecdb32b0067daf008eeea7221D17C&customFieldItems=true",
                "options": {}
            },
            "id": "get-card-details",
            "name": "Get Card Details",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "getAll",
                "databaseId": "2e0c81c3-5804-8159-b677-fd8b76761e2f",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "key": "Nombre",
                            "condition": "equals",
                            "string": "={{ $json.name }}"
                        }
                    ]
                }
            },
            "id": "check-exists",
            "name": "Check if Project Exists",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "exists-check",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notExists"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-not-exists",
            "name": "If NOT Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://api.trello.com/1/boards/612f6ea39c967b8bef5c2186/customFields?key=f529e10ec3bac9427b5c1abcfa2ec821&token=ATTA4a2d8d0148cae05d395044b7779d80db44ae465d82aecdb32b0067daf008eeea7221D17C",
                "options": {}
            },
            "id": "get-cf-defs",
            "name": "Get Custom Fields",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extraer datos de la tarjeta\nconst tarjeta = $('Get Card Details').item.json;\nconst customFieldDefs = $input.all()[0].json;\n\n// Mapa de custom fields\nconst cfMap = {};\nif (Array.isArray(customFieldDefs)) {\n  for (const cf of customFieldDefs) {\n    cfMap[cf.id] = cf.name;\n  }\n}\n\nlet email = null;\nlet celular = null;\nlet monto = 0;\n\nfor (const cf of (tarjeta.customFieldItems || [])) {\n  const fieldName = cfMap[cf.idCustomField] || '';\n  const val = cf.value || {};\n  \n  if (fieldName.includes('Mail') && val.text) {\n    email = val.text;\n  }\n  if (fieldName.includes('Celular') && val.number) {\n    celular = val.number;\n  }\n  if (fieldName.toLowerCase().includes('monto') && val.number) {\n    monto = parseFloat(val.number);\n  }\n}\n\n// Extraer labels y determinar Centro de Costo\nconst labels = tarjeta.labels || [];\nlet ccSearchTerm = 'Varios';\n\nconst mapeoCC = {\n  'fv': 'Solar Fotovoltaico',\n  'solar': 'Solar Fotovoltaico',\n  'fotovoltaico': 'Solar Fotovoltaico',\n  'piletas': 'Climatización Piletas',\n  'climat': 'Climatización Piletas',\n  'climatizacion': 'Climatización Piletas',\n  'acs': 'ACS',\n  'agua caliente': 'ACS',\n  'biomasa': 'Biomasa',\n  'calefaccion': 'Calefacción Eléctrica',\n  'calefacción': 'Calefacción Eléctrica',\n  'pre': 'Calefacción Eléctrica',\n  'piso radiante': 'Calefacción Eléctrica',\n  'luminaria': 'Luminaria Solar',\n  'consultoria': 'Varios',\n  'consultoría': 'Varios',\n  'monitoreo': 'Varios',\n  'gestoria': 'Varios',\n  'gestoría': 'Varios',\n  'varios': 'Varios'\n};\n\nfor (const label of labels) {\n  const labelName = (label.name || '').toLowerCase();\n  for (const [key, value] of Object.entries(mapeoCC)) {\n    if (labelName.includes(key)) {\n      ccSearchTerm = value;\n      break;\n    }\n  }\n  if (ccSearchTerm !== 'Varios') break;\n}\n\nconst nombreCliente = tarjeta.name.split('-')[0].trim();\n\nreturn {\n  nombreTarjeta: tarjeta.name,\n  nombreCliente: nombreCliente,\n  email: email,\n  celular: celular,\n  monto: monto,\n  ccSearchTerm: ccSearchTerm\n};"
            },
            "id": "extract-data",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1250,
                300
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "getAll",
                "databaseId": "2e0c81c3-5804-81e7-80a0-dc51608efdd4",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "key": "Centro de Costo",
                            "condition": "contains",
                            "string": "={{ $json.ccSearchTerm }}"
                        }
                    ]
                }
            },
            "id": "find-cc",
            "name": "Find Centro de Costo",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                1450,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const extractData = $('Extract Data').item.json;\nconst ccResults = $input.all();\n\nlet ccId = null;\nif (ccResults.length > 0 && ccResults[0].json.id) {\n  ccId = ccResults[0].json.id;\n}\n\nreturn {\n  ...extractData,\n  ccId: ccId\n};"
            },
            "id": "merge-cc",
            "name": "Merge CC ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1650,
                300
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "getAll",
                "databaseId": "2e0c81c3-5804-8199-8d24-ded823eae751",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "key": "Nombre",
                            "condition": "equals",
                            "string": "={{ $json.nombreCliente }}"
                        }
                    ]
                }
            },
            "id": "find-client",
            "name": "Find Client",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                1850,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "client-exists",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "client-exists-if",
            "name": "Client Exists?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                2050,
                300
            ]
        },
        {
            "parameters": {
                "resource": "page",
                "databaseId": "2e0c81c3-5804-8199-8d24-ded823eae751",
                "title": "={{ $('Merge CC ID').item.json.nombreCliente }}",
                "propertiesUi": {
                    "propertyValues": []
                }
            },
            "id": "create-client",
            "name": "Create Client",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                2250,
                450
            ]
        },
        {
            "parameters": {
                "jsCode": "const mergedData = $('Merge CC ID').item.json;\nconst clientResults = $input.all();\n\nlet clientId = null;\nif (clientResults.length > 0 && clientResults[0].json.id) {\n  clientId = clientResults[0].json.id;\n}\n\nreturn {\n  ...mergedData,\n  clientId: clientId\n};"
            },
            "id": "prep-project-existing",
            "name": "Prep Project (Existing Client)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2250,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const mergedData = $('Merge CC ID').item.json;\nconst newClient = $input.item.json;\n\nreturn {\n  ...mergedData,\n  clientId: newClient.id\n};"
            },
            "id": "prep-project-new",
            "name": "Prep Project (New Client)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2450,
                450
            ]
        },
        {
            "parameters": {
                "resource": "page",
                "databaseId": "2e0c81c3-5804-8159-b677-fd8b76761e2f",
                "title": "={{ $json.nombreTarjeta }}",
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Estado",
                            "selectValue": "Aprobado"
                        },
                        {
                            "key": "Cliente",
                            "relationValue": "={{ $json.clientId ? [$json.clientId] : [] }}"
                        },
                        {
                            "key": "Monto Contrato",
                            "numberValue": "={{ $json.monto }}"
                        },
                        {
                            "key": "Centro de Costo",
                            "relationValue": "={{ $json.ccId ? [$json.ccId] : [] }}"
                        }
                    ]
                }
            },
            "id": "create-project",
            "name": "Create Project",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                2650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const projectResult = $input.item.json;\nlet prevData = {};\n\ntry {\n  prevData = $('Prep Project (Existing Client)').item?.json || {};\n} catch (e) {\n  try {\n    prevData = $('Prep Project (New Client)').item?.json || {};\n  } catch (e2) {}\n}\n\nreturn {\n  projectId: projectResult.id,\n  nombreTarjeta: prevData.nombreTarjeta || 'Sin nombre',\n  monto: prevData.monto || 0,\n  ccId: prevData.ccId || null\n};"
            },
            "id": "prep-cxc",
            "name": "Prep CxC",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2850,
                300
            ]
        },
        {
            "parameters": {
                "resource": "page",
                "databaseId": "2e0c81c3-5804-815a-8755-f4f254257f6a",
                "title": "={{ $json.nombreTarjeta }}",
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Proyecto",
                            "relationValue": "={{ [$json.projectId] }}"
                        },
                        {
                            "key": "Monto",
                            "numberValue": "={{ $json.monto }}"
                        },
                        {
                            "key": "Estado",
                            "selectValue": "Pendiente"
                        },
                        {
                            "key": "Centro de Costo",
                            "relationValue": "={{ $json.ccId ? [$json.ccId] : [] }}"
                        }
                    ]
                }
            },
            "id": "create-cxc",
            "name": "Create CxC",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                3050,
                300
            ]
        }
    ],
    "connections": {
        "Trello Trigger": {
            "main": [
                [
                    {
                        "node": "Get Card Details",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Card Details": {
            "main": [
                [
                    {
                        "node": "Check if Project Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check if Project Exists": {
            "main": [
                [
                    {
                        "node": "If NOT Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If NOT Exists": {
            "main": [
                [
                    {
                        "node": "Get Custom Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Custom Fields": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Find Centro de Costo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Centro de Costo": {
            "main": [
                [
                    {
                        "node": "Merge CC ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge CC ID": {
            "main": [
                [
                    {
                        "node": "Find Client",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Client": {
            "main": [
                [
                    {
                        "node": "Client Exists?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Client Exists?": {
            "main": [
                [
                    {
                        "node": "Prep Project (Existing Client)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create Client",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Client": {
            "main": [
                [
                    {
                        "node": "Prep Project (New Client)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Project (Existing Client)": {
            "main": [
                [
                    {
                        "node": "Create Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Project (New Client)": {
            "main": [
                [
                    {
                        "node": "Create Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Project": {
            "main": [
                [
                    {
                        "node": "Prep CxC",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep CxC": {
            "main": [
                [
                    {
                        "node": "Create CxC",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-14T13:52:00.000Z",
    "versionId": "5"
}