erp-notion/workflows/workflow_nocrm_trello.json
{
    "name": "noCRM → Trello (Leads Ganados)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "nocrm-won",
                "options": {}
            },
            "id": "webhook-nocrm",
            "name": "Webhook noCRM",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ],
            "webhookId": "nocrm-won"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "status-won",
                            "leftValue": "={{ $json.body?.status || $json.status }}",
                            "rightValue": "won",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "filter-won",
            "name": "Filter Won Status",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.trello.com/1/boards/612f6ea39c967b8bef5c2186/labels?key=f529e10ec3bac9427b5c1abcfa2ec821&token=ATTA4a2d8d0148cae05d395044b7779d80db44ae465d82aecdb32b0067daf008eeea7221D17C",
                "options": {}
            },
            "id": "get-trello-labels",
            "name": "Get Trello Labels",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Datos del lead de noCRM - La estructura es: body.webhook_event.data\nconst webhook = $('Webhook noCRM').item.json;\nconst webhookEvent = webhook.body?.webhook_event || webhook.webhook_event || {};\nconst lead = webhookEvent.data || webhook.body || webhook;\nconst trelloLabels = $input.item.json;\n\n// Extraer datos del lead\nconst title = lead.title || 'Sin título';\nconst amount = lead.amount || 0;\nconst tags = lead.tags || [];\n\n// Campos del lead - pueden venir en extended_info o directamente\nconst extInfo = lead.extended_info || {};\nconst fields = extInfo.fields || {};\nconst fieldsByName = extInfo.fields_by_name || {};\n\n// Buscar email, phone, mobile en diferentes ubicaciones\nconst email = fields.email || fieldsByName.Email || lead.first_contact_email || '';\nconst phone = fields.phone || fieldsByName.Phone || fieldsByName['Teléfono'] || '';\nconst mobile = fields.mobile || fieldsByName.Mobile || fieldsByName.Celular || '';\n\n// Crear mapa de labels de Trello: nombre (lowercase) -> id\nconst labelMap = {};\nif (Array.isArray(trelloLabels)) {\n  for (const label of trelloLabels) {\n    if (label.name) {\n      labelMap[label.name.toLowerCase()] = label.id;\n    }\n  }\n}\n\n// Mapear tags de noCRM a label IDs de Trello\nconst matchedLabelIds = [];\nconst unmatchedTags = [];\n\nfor (const tag of tags) {\n  const tagLower = tag.toLowerCase();\n  let found = false;\n  \n  // Buscar coincidencia exacta o parcial\n  for (const [labelName, labelId] of Object.entries(labelMap)) {\n    if (labelName.includes(tagLower) || tagLower.includes(labelName)) {\n      matchedLabelIds.push(labelId);\n      found = true;\n      break;\n    }\n  }\n  \n  if (!found) {\n    unmatchedTags.push(tag);\n  }\n}\n\nreturn {\n  title: title,\n  amount: amount,\n  email: email,\n  phone: phone,\n  mobile: mobile,\n  tags: tags,\n  matchedLabelIds: matchedLabelIds,\n  unmatchedTags: unmatchedTags,\n  labelMap: labelMap,\n  // Debug info\n  _debug: {\n    webhookKeys: Object.keys(webhook),\n    leadKeys: Object.keys(lead),\n    hasExtendedInfo: !!lead.extended_info\n  }\n};"
            },
            "id": "extract-data",
            "name": "Extract Lead Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.trello.com/1/boards/612f6ea39c967b8bef5c2186/customFields?key=f529e10ec3bac9427b5c1abcfa2ec821&token=ATTA4a2d8d0148cae05d395044b7779d80db44ae465d82aecdb32b0067daf008eeea7221D17C",
                "options": {}
            },
            "id": "get-custom-fields",
            "name": "Get Custom Fields",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Datos del lead\nconst leadData = $('Extract Lead Data').item.json;\nconst customFields = $input.item.json;\n\n// Crear mapa de custom fields\nconst cfMap = {};\nif (Array.isArray(customFields)) {\n  for (const cf of customFields) {\n    cfMap[cf.name.toLowerCase()] = cf.id;\n  }\n}\n\n// Preparar descripción con toda la info del cliente\nlet desc = `**Cliente:** ${leadData.title}\\n`;\nif (leadData.email) desc += `**Email:** ${leadData.email}\\n`;\nif (leadData.phone) desc += `**Teléfono:** ${leadData.phone}\\n`;\nif (leadData.mobile) desc += `**Celular:** ${leadData.mobile}\\n`;\nif (leadData.amount) desc += `**Monto:** $${leadData.amount}\\n`;\nif (leadData.tags.length > 0) desc += `**Tags noCRM:** ${leadData.tags.join(', ')}\\n`;\n\nreturn {\n  ...leadData,\n  description: desc,\n  cfMap: cfMap,\n  cfMontoId: cfMap['monto de venta'] || cfMap['monto'] || null,\n  cfMailId: cfMap['mail'] || cfMap['email'] || null,\n  cfCelularId: cfMap['celular'] || cfMap['telefono'] || null\n};"
            },
            "id": "prepare-card",
            "name": "Prepare Card Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Preparar el body para crear la tarjeta\nconst data = $input.item.json;\n\nconst cardBody = {\n  name: data.title || 'Sin título',\n  desc: data.description || '',\n  idList: '612f6eb0e991e0195d665d5a',\n  idLabels: data.matchedLabelIds || [],\n  pos: 'bottom'\n};\n\nreturn {\n  ...data,\n  cardBody: cardBody,\n  cardBodyJson: JSON.stringify(cardBody)\n};"
            },
            "id": "prepare-trello-body",
            "name": "Prepare Trello Body",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.trello.com/1/cards?key=f529e10ec3bac9427b5c1abcfa2ec821&token=ATTA4a2d8d0148cae05d395044b7779d80db44ae465d82aecdb32b0067daf008eeea7221D17C",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.cardBodyJson }}",
                "options": {}
            },
            "id": "create-card",
            "name": "Create Trello Card",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1550,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-monto",
                            "leftValue": "={{ $('Prepare Card Data').item.json.cfMontoId }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-has-monto",
            "name": "Has Monto Field?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1650,
                300
            ]
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=https://api.trello.com/1/cards/{{ $('Create Trello Card').item.json.id }}/customField/{{ $('Prepare Card Data').item.json.cfMontoId }}/item?key=f529e10ec3bac9427b5c1abcfa2ec821&token=ATTA4a2d8d0148cae05d395044b7779d80db44ae465d82aecdb32b0067daf008eeea7221D17C",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"value\": {\n    \"number\": \"{{ $('Prepare Card Data').item.json.amount }}\"\n  }\n}",
                "options": {}
            },
            "id": "set-monto",
            "name": "Set Monto Custom Field",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1850,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Skip - no hay campo Monto\nreturn { skipped: true };"
            },
            "id": "skip-monto",
            "name": "Skip Monto",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1850,
                400
            ]
        }
    ],
    "connections": {
        "Webhook noCRM": {
            "main": [
                [
                    {
                        "node": "Filter Won Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Won Status": {
            "main": [
                [
                    {
                        "node": "Get Trello Labels",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Get Trello Labels": {
            "main": [
                [
                    {
                        "node": "Extract Lead Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Lead Data": {
            "main": [
                [
                    {
                        "node": "Get Custom Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Custom Fields": {
            "main": [
                [
                    {
                        "node": "Prepare Card Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Card Data": {
            "main": [
                [
                    {
                        "node": "Prepare Trello Body",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Trello Body": {
            "main": [
                [
                    {
                        "node": "Create Trello Card",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Trello Card": {
            "main": [
                [
                    {
                        "node": "Has Monto Field?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Monto Field?": {
            "main": [
                [
                    {
                        "node": "Set Monto Custom Field",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Skip Monto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-14T19:03:00.000Z",
    "versionId": "1"
}