erp-notion/workflows/workflow_trello_notion_realtime.json
{
    "name": "Trello → Notion - TIEMPO REAL (Webhook)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "trello-sync",
                "options": {}
            },
            "id": "webhook-trello",
            "name": "Webhook from Trello",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ],
            "webhookId": "trello-sync"
        },
        {
            "parameters": {
                "jsCode": "// Validar que sea creación o actualización de tarjeta\nconst action = $input.item.json.body.action;\n\nif (!action || action.type !== 'createCard' && action.type !== 'updateCard') {\n  return null; // Ignorar otros eventos\n}\n\nconst tarjeta = action.data.card;\n\nreturn {\n  cardId: tarjeta.id,\n  cardName: tarjeta.name,\n  actionType: action.type\n};"
            },
            "id": "filter-event",
            "name": "Filter Card Events",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://api.trello.com/1/cards/{{ $json.cardId }}?key=f529e10ec3bac9427b5c1abcfa2ec821&token=ATTA4a2d8d0148cae05d395044b7779d80db44ae465d82aecdb32b0067daf008eeea7221D17C&customFieldItems=true",
                "options": {}
            },
            "id": "get-card-details",
            "name": "Get Card Details",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "getAll",
                "databaseId": "2e0c81c3-5804-8159-b677-fd8b76761e2f",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "key": "Nombre",
                            "condition": "equals",
                            "string": "={{ $json.name }}"
                        }
                    ]
                }
            },
            "id": "check-exists",
            "name": "Check if Project Exists",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "exists-check",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notExists"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-not-exists",
            "name": "If NOT Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://api.trello.com/1/boards/612f6ea39c967b8bef5c2186/customFields?key=f529e10ec3bac9427b5c1abcfa2ec821&token=ATTA4a2d8d0148cae05d395044b7779d80db44ae465d82aecdb32b0067daf008eeea7221D17C",
                "options": {}
            },
            "id": "get-cf-defs",
            "name": "Get Custom Fields",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extraer datos de la tarjeta\nconst tarjeta = $('Get Card Details').item.json;\nconst customFieldDefs = $input.all()[0].json;\n\n// Mapa de custom fields\nconst cfMap = {};\nfor (const cf of customFieldDefs) {\n  cfMap[cf.id] = cf.name;\n}\n\nlet email = null;\nlet celular = null;\nlet monto = 0;\n\nfor (const cf of (tarjeta.customFieldItems || [])) {\n  const fieldName = cfMap[cf.idCustomField] || '';\n  const val = cf.value || {};\n  \n  if (fieldName.includes('Mail') && val.text) {\n    email = val.text;\n  }\n  if (fieldName.includes('Celular') && val.number) {\n    celular = val.number;\n  }\n  if (fieldName.toLowerCase().includes('monto') && val.number) {\n    monto = parseFloat(val.number);\n  }\n}\n\nconst nombreCliente = tarjeta.name.split('-')[0].trim();\n\nreturn {\n  nombreTarjeta: tarjeta.name,\n  nombreCliente: nombreCliente,\n  email: email,\n  celular: celular,\n  monto: monto\n};"
            },
            "id": "extract-data",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1450,
                300
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "getAll",
                "databaseId": "2e0c81c3-5804-8199-8d24-ded823eae751",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "key": "Nombre",
                            "condition": "equals",
                            "string": "={{ $json.nombreCliente }}"
                        }
                    ]
                }
            },
            "id": "find-client",
            "name": "Find Client",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                1650,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "client-exists",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "client-exists-if",
            "name": "Client Exists?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1850,
                300
            ]
        },
        {
            "parameters": {
                "resource": "page",
                "databaseId": "2e0c81c3-5804-8199-8d24-ded823eae751",
                "title": "={{ $('Extract Data').item.json.nombreCliente }}",
                "propertiesUi": {
                    "propertyValues": []
                }
            },
            "id": "create-client",
            "name": "Create Client",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                2050,
                400
            ]
        },
        {
            "parameters": {
                "resource": "page",
                "databaseId": "2e0c81c3-5804-8159-b677-fd8b76761e2f",
                "title": "={{ $('Extract Data').item.json.nombreTarjeta }}",
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Estado",
                            "selectValue": "Cotización"
                        },
                        {
                            "key": "Cliente",
                            "relationValue": "={{ [$json.id] }}"
                        },
                        {
                            "key": "Monto Contrato",
                            "numberValue": "={{ $('Extract Data').item.json.monto }}"
                        }
                    ]
                }
            },
            "id": "create-project",
            "name": "Create Project",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                2250,
                300
            ]
        }
    ],
    "connections": {
        "Webhook from Trello": {
            "main": [
                [
                    {
                        "node": "Filter Card Events",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Card Events": {
            "main": [
                [
                    {
                        "node": "Get Card Details",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Card Details": {
            "main": [
                [
                    {
                        "node": "Check if Project Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check if Project Exists": {
            "main": [
                [
                    {
                        "node": "If NOT Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If NOT Exists": {
            "main": [
                [
                    {
                        "node": "Get Custom Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Custom Fields": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Find Client",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Client": {
            "main": [
                [
                    {
                        "node": "Client Exists?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Client Exists?": {
            "main": [
                [
                    {
                        "node": "Create Project",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create Client",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Client": {
            "main": [
                [
                    {
                        "node": "Create Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-09T14:35:00.000Z",
    "versionId": "1"
}