erp-notion/workflows/workflow_cxc_FINAL_FUNCIONAL.json
{
    "name": "Calculadora CxC - FUNCIONAL",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "calcular-cxc",
                "options": {}
            },
            "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ],
            "webhookId": "calcular-cxc"
        },
        {
            "parameters": {
                "jsCode": "// Extraer fechas del webhook\nconst fechaInicio = $input.item.json.body.fechaInicio;\nconst fechaFin = $input.item.json.body.fechaFin;\n\nreturn {\n  fechaInicio: fechaInicio,\n  fechaFin: fechaFin\n};"
            },
            "id": "b2c3d4e5-f6g7-8901-bcde-fg2345678901",
            "name": "Extraer Fechas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "getAll",
                "databaseId": "2e0c81c3-5804-815a-8755-f4f254257f6a",
                "returnAll": true,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "key": "Fecha Emisión",
                            "condition": "on_or_after",
                            "date": "={{ $json.fechaInicio }}"
                        },
                        {
                            "key": "Fecha Emisión",
                            "condition": "on_or_before",
                            "date": "={{ $json.fechaFin }}"
                        }
                    ]
                }
            },
            "id": "c3d4e5f6-g7h8-9012-cdef-gh3456789012",
            "name": "Obtener CxC",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Calcular totales\nlet totalMonto = 0;\nlet totalCobrado = 0;\n\nfor (const item of $input.all()) {\n  const monto = item.json.property_monto;\n  const saldoPendiente = item.json.property_saldo_pendiente;\n  \n  let montoNum = 0;\n  if (monto && typeof monto === 'string') {\n    montoNum = parseFloat(monto.replace(/\\$/g, '').replace(/\\./g, '').replace(',', '.'));\n  }\n  \n  let saldoNum = 0;\n  if (saldoPendiente && typeof saldoPendiente === 'string') {\n    saldoNum = parseFloat(saldoPendiente.replace(/\\$/g, '').replace(/\\./g, '').replace(',', '.'));\n  }\n  \n  totalMonto += (isNaN(montoNum) ? 0 : montoNum);\n  const cobrado = montoNum - saldoNum;\n  totalCobrado += (isNaN(cobrado) ? 0 : cobrado);\n}\n\nconst totalPendiente = totalMonto - totalCobrado;\n\n// Obtener fechas\nconst fechaInicio = $('Extraer Fechas').first().json.fechaInicio;\nconst fechaFin = $('Extraer Fechas').first().json.fechaFin;\nconst periodo = `Rango: ${fechaInicio} a ${fechaFin}`;\n\nreturn {\n  montoTotal: totalMonto,\n  montoCobrado: totalCobrado,\n  saldoPendiente: totalPendiente,\n  periodo: periodo,\n  fechaInicio: fechaInicio,\n  fechaFin: fechaFin\n};"
            },
            "id": "d4e5f6g7-h8i9-0123-defg-hi4567890123",
            "name": "Calcular Totales",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"montoTotal\": $json.montoTotal, \"montoCobrado\": $json.montoCobrado, \"saldoPendiente\": $json.saldoPendiente, \"periodo\": $json.periodo } }}"
            },
            "id": "e5f6g7h8-i9j0-1234-efgh-ij5678901234",
            "name": "Responder",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                200
            ]
        },
        {
            "parameters": {
                "resource": "page",
                "databaseId": "2e2c81c3-5804-8175-bd53-f36817d39dd6",
                "title": "={{ $json.periodo }}",
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Monto Total",
                            "numberValue": "={{ $json.montoTotal }}"
                        },
                        {
                            "key": "Monto Cobrado",
                            "numberValue": "={{ $json.montoCobrado }}"
                        },
                        {
                            "key": "Saldo Pendiente",
                            "numberValue": "={{ $json.saldoPendiente }}"
                        }
                    ]
                }
            },
            "id": "f6g7h8i9-j0k1-2345-fghi-jk6789012345",
            "name": "Crear Fila",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                1050,
                400
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extraer Fechas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extraer Fechas": {
            "main": [
                [
                    {
                        "node": "Obtener CxC",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener CxC": {
            "main": [
                [
                    {
                        "node": "Calcular Totales",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calcular Totales": {
            "main": [
                [
                    {
                        "node": "Responder",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Crear Fila",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-09T12:33:00.000Z",
    "versionId": "1"
}